<div class="signup-container">
  <button type="button" class=" btn close-btn justify-content-end" (click)="onCloseClick()">&#x2716;</button>
  
  <div class="Header-text-div">
    <h1 class="Header-text">Create an account</h1>
  </div>
  <div class="Header-text2-div">
    <p class="Header-text2">Let's get started </p>
  </div>

  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group">
      <!-- <div class="username">
              <label class="user-text" for="username">Username</label>
      </div> -->
      <div>
      <input type="text" class="Username-Text" id="username" name="username" placeholder="Username" required [(ngModel)]="username"
        #usernameInput="ngModel">
      </div>
      @if (usernameInput.errors?.['required'] && usernameInput.touched) {
      <div class="alert alert-danger">
        Username is required.
      </div>
      }
    </div>

    <div class="form-group">
      <!-- <label for="email">Email Address</label> -->
        <input type="email" class="email-text" id="email" name="email" placeholder="Email" required [(ngModel)]="email"
          #emailInput="ngModel">
      @if (emailInput.errors?.['required'] && emailInput.touched) {
      <div class="alert alert-danger">
        Email is required.
      </div>
      }
      @if (emailInput.errors?.['email'] && emailInput.touched) {
      <div class="alert alert-danger">
        Please enter a valid email address.
      </div>
      }
    </div>

    <div class="form-group">
      <!-- <label for="password">Password</label> -->
      <input type="password" class="password-text" id="password" name="password" placeholder="Password" required [(ngModel)]="password"
        #passwordInput="ngModel">
      @if (passwordInput.errors?.['required'] && passwordInput.touched) {
      <div class="alert alert-danger">
        Password is required.
      </div>
      }
      @if (passwordInput.errors?.['minlength'] && passwordInput.touched) {
      <div class="alert alert-danger">
        Password must be at least 6 characters long.
      </div>
      }
    </div>

    <button type="submit" class="btn-primary" [disabled]="signupForm.invalid">Sign Up</button>

    <div class="links">
      <a (click)="onCloseClick()">Already a member? <span class="loginlink">Login</span></a>
    </div>
  </form>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>