<div class="task-container">
    <button class="logout-button" (click)="logout()">Logout<i class="fa-solid fa-right-from-bracket logoutIcon"></i></button>
    @if (tasks.length>0) {
    <h2>Tasks <i class="fa-solid fa-list-check"></i></h2>
    }
    <mat-accordion>
        @for (task of tasks; track $index) {
        <mat-expansion-panel hideToggle [ngClass]="{ 'highPriority': task.priority === 'high',
        'lowPriority': task.priority === 'low',
        'mediumPriority': task.priority === 'medium' }">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <label class="switch">

                        <input type="checkbox" [(ngModel)]="task.completed" [checked]="task.completed"
                            (change)="updateTaskStatus(task, $event)">
                        <span class="slider round"></span>
                    </label>
                    <span [class.completed]="task.completed">{{ task.title }} </span>
                </mat-panel-title>

            </mat-expansion-panel-header>
            <p>{{ task.description }}</p>
            <div class="actions">
                <span class="m-1" (click)="editTask(task)">
                    <i class="fa-solid fa-pen-to-square" style="cursor: pointer;"></i>
                </span>
                <span class="m-1" (click)="deleteTask(task)">
                    <i class="fa-solid fa-trash" style="cursor: pointer;"></i>
                </span>
            </div>
        </mat-expansion-panel>
        }
    </mat-accordion>

    <h3>Add New Task 
        <i (click)="showHideAddTask()" *ngIf="!isAddTaskExpanded" class="fa-solid fa-square-plus addTaskIcons"></i>
        <i (click)="showHideAddTask()" *ngIf="isAddTaskExpanded"  class="fa-solid fa-square-minus addTaskIcons"></i>
    </h3>
    
    <form *ngIf="isAddTaskExpanded" (submit)="isEditMode ? updateTask() : addTask()" class="task-form">
        <div class="form-group">
            <input type="text" [(ngModel)]="newTask.title" [ngModelOptions]="{standalone: true}" placeholder="Title"
                required />
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="newTask.description" [ngModelOptions]="{standalone: true}"
                placeholder="Description" />
        </div>

        <div class="form-group">
            <input type="date" [(ngModel)]="newTask.dueDate" [ngModelOptions]="{standalone: true}"
                placeholder="Due Date" required />
        </div>
        <div class="form-group">
            <select class="form-select" [(ngModel)]="newTask.priority" [ngModelOptions]="{standalone: true}"
                id="priority" required>
                <option value="" disabled selected>Select Priority</option>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>

        <div class="form-group switch-group">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="newTask.completed" [ngModelOptions]="{standalone: true}"
                    id="newTaskCompleted">
                <span class="slider round"></span>
            </label>
            <label for="newTaskCompleted">Completed</label>
        </div>
        <button type="submit">{{ isEditMode ? 'Update' : 'Add' }}</button>
    </form>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>